manifest {
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  name = "BCCDC-PHL/routine-irida-upload"
  version = '0.1.0'
  author = "Dan Fornika <dan.fornika@bccdc.ca>"
}

params {
  profile = false
  config = "NO_FILE"
  instrument_type = "miseq"
  illumina_suffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
  fastq_exts = ['.fastq.gz', '.fq.gz', '.fastq', '.fq']
  fastq_subdir = getFastqSubdir(params.instrument_type)
  fastq_search_path = makeFastqSearchPath( params.illumina_suffixes, params.fastq_exts, params.instrument_type )
  outdir = "IRIDAUploaderLogs"
}

def getFastqSubdir(instrument_type) { 
  if (instrument_type == "miseq") {
    fastq_subdir = "/Data/Intensities/BaseCalls"
  } else if (instrument_type == "nextseq") {
    def analysis_dirs = []
    def run_analysis_dir = new File(params.run_dir.toString() + "/Analysis")
    run_analysis_dir.traverse(type: groovy.io.FileType.DIRECTORIES, maxDepth: 0) { analysis_dirs.add(it) }
    def latest_analysis_dir = analysis_dirs.last()
    def latest_analysis_dir_number = latest_analysis_dir.getName()
    fastq_subdir = "/Analysis/" + latest_analysis_dir_number + "/Data/fastq"
  } else {
    System.out.println("Unsupported instrument type: ${instrument_type}")
    System.exit(1)
  }
  return fastq_subdir
}

def makeFastqSearchPath ( illumina_suffixes, fastq_exts, instrument_type ) {
    def fastq_search_path = []
    def fastq_subdir = getFastqSubdir(instrument_type)
    for (suffix in illumina_suffixes){
        for (ext in fastq_exts){
            fastq_search_path.add(params.run_dir.toString() + fastq_subdir + '/' + suffix.toString() + ext.toString())
        }
    }
    return fastq_search_path
}

profiles {
  conda {
    process.conda = "$baseDir/environments/environment.yml"
    if (params.cache){
      conda.cacheDir = params.cache
    }
  }
}


